:root {
  font-family: 'irm';
  line-height: 1.5;
  font-weight: 400;
direction: rtl;
/* width: 100% !important;
height: 100% !important; */
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #074EA0; */
  /* color: #074EA0; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0px !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
 
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


